html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  width: 0px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper:hover > .arrow-div {
  display: flex !important;
}

.wrapper:hover > .details-wrapper {
  box-shadow: none !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  font-size: 20px;
  color: #ffffff !important;
}

.mdc-text-field .mdc-floating-label {
  left: 3px !important;
}

.mdc-text-field .mdc-line-ripple {
  background-color: #ffffff !important;
}

.mdc-text-field__input {
  border-width: 2px !important;
  border-color: #cdd5dd !important;
  padding-left: 5px !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #1daeef !important;
}

.top-nav {
  padding-left: 9rem !important;
}

@media (max-width: 1400px) {
  .top-nav {
    padding-left: 2.5rem !important;
  }
}

@media (max-width: 1024px) {
  .top-nav {
    padding-left: 0 !important;
  }
  .show-menu {
    display: block !important;
    transition: display 500ms ease-in;
  }
}
