html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-nav {
  padding-left: 9rem !important;
}

@media (max-width: 1400px) {
  .top-nav {
    padding-left: 2.5rem !important;
  }
}

@media (max-width: 1024px) {
  .top-nav {
    padding-left: 0 !important;
  }
  .show-menu {
    display: block !important;
    transition: display 500ms ease-in;
  }
}
